<html lang="en" ng-app="StarterApp">

<head>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="initial-scale=1" />
</head>

<body layout="column" ng-controller="AppCtrl">
  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn" aria-label="Toggle Menu">
      </button>
      <h1 layout-align-gt-sm="center">
        Carmen Tan
      </h1>
    </div>
  </md-toolbar>
  
  <div layout="row" flex class="change-my-css">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <md-list>
        <md-list-item ng-repeat="li in list">
          <div class="md-list-item-text">
            <div layout="row">
              <a href="{{li.url}}">{{li.name}}</a>
            </div>
          </div>
        </md-list-item>
      </md-list>
    </md-sidenav>
  
    <md-content layout="column" id="content" flex class="md-padding">

  <p class="labels">Web Design</p>
  <div id="webSlides">
    <a href="#" ><img class="web slides" height="200" src="work/LONI/ADRC-homeNew-Img2.png" /></a>
    <a href="#" ><img class="web slides" height="200" src="work/LONI/IDA_flat-MOBILE.png" /></a>
    <a href="#" ><img class="web slides" height="200" src="work/band.png" /></a>
    <a href="#" ><img class="web slides" height="200" src="work/BHM.png" /></a>
    <a href="#" ><img class="web slides" height="200" src="work/TEServer.png" /></a>
    <a href="#" ><img class="web slides" height="200" src="work/songabout.png" /></a>
    <a href="#" ><img class="web slides" height="200" src="work/IPPAM.png" /></a>
  </div>
  <p class="labels">Print Design/Digital Graphics</p>
  <div id="graphicsSlides">
    <a href="#" ><img class="print slides" height="200" src="graphics/thumbs/CAlogo.png" /></a>
    <a href="#" ><img class="print slides" height="200" src="graphics/OregonShirt.png" /></a>
    <a href="#" ><img class="print slides" height="200" src="graphics/placebook.png" /></a>
    <a href="#" ><img class="print slides" height="200" src="graphics/TMBRally2015.png" /></a>
    <a href="#" ><img class="print slides" height="200" src="graphics/thumbs/SDT-cover.png" /></a>
    <a href="#" ><img class="print slides" height="200" src="graphics/SDTsweetTreatsSpring2015-flyer.png" /></a>
    <a href="#" ><img class="print slides" height="200" src="graphics/thumbs/NHM1.jpg" /></a>
    <a href="#" ><img class="print slides" height="200" src="graphics/thumbs/Tailgates2013.jpg" /></a>
    <a href="#" ><img class="print slides" height="200" src="graphics/thumbs/TMBbanner2.png" /></a>
  </div>
  <div id="webDetails">
    <a href="#" ><img class="fancybox" width="200" src="work/LONI/ADRC-homeNew-Img1.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/LONI/ADRC-homeNew-Img2.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/LONI/ADRC-homeNew-Img3.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/LONI/ADRC-homeNew-noImage1.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/LONI/ADRC-homeNew-noImage2.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/LONI/IDA_flat-DESKTOP.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/LONI/IDA_flat-MOBILE.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/LONI/IDA_teal-DESKTOP.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/LONI/IDA_teal-DESKTOP3.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/LONI/IDA_teal-MOBILE.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/LONI/logo3-v4.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/LONI/LONIR-desktop-02.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/LONI/LONIR-desktop-03-v2.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/LONI/LONIR-logoUpdate.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/LONI/LONIR-MOBILE-02.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/band.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/band-alumni.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/band-give.png" /></a>
    
    <a href="#" ><img class="fancybox" width="200" src="work/BHM.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/BHM-pd.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/BHM-contact.png" /></a>

    <a href="#" ><img class="fancybox" width="200" src="work/TEServer.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/TE Server-mobile.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/TE Server-tablet.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/TEServer-profle.png" /></a>

    <a href="#" ><img class="fancybox" width="200" src="work/IPPAM.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/IPPAM2.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/IPPAM-events.png" /></a>
    
    <a href="#" ><img class="fancybox" width="200" src="work/UV.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="work/UV-electric.png" /></a>
  </div>
  <div id="graphicsDetails">
    <a href="#" ><img class="fancybox" width="200" src="graphics/CAlogo2D-FINAL.png" /></a>
    <a href="graphics/CarmenTan.CAStyleGuide.pdf" ><img width="200" src="graphics/CAlogo3D-FINAL.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="graphics/OregonShirt.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="graphics/OregonshirtPreview.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="graphics/PicturesAtExhibition.jpg" /></a>
    <a href="graphics/placebook.pdf" ><img width="200" src="graphics/placebook.png" /></a>
    <a href="graphics/ArtNoveauBook.swf" ><img width="200" src="graphics/ArtNoveau.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="graphics/SDT-cover.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="graphics/SDT-Fall2015-1.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="graphics/SDT-Fall2015-2.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="graphics/SDTsweetTreatsSpring2015-flyer.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="graphics/SDT-stars.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="graphics/SDTback.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="graphics/TMBRally2015.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="graphics/Tailgates2013.jpg" /></a>
    <a href="#" ><img class="fancybox" width="200" src="graphics/store.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="graphics/UVbusinessCard.png" /></a>
    <a href="#" ><img class="fancybox" width="200" src="graphics/UVLogo.jpg" /></a>
    <a href="#" ><img class="fancybox" width="200" src="graphics/NHM1.jpg" /></a>
    <a href="#" ><img class="fancybox" width="200" src="graphics/NHM2.jpg" /></a>
    <a href="#" ><img class="fancybox" width="200" src="graphics/NHM3.jpg" /></a>
  </div>
    <!--  <p ng-repeat="x in [1,2,3,4,5,6,7,8,9,0]">Test {{x}}</p>
      <p ng-repeat="x in [1,2,3,4,5,6,7,8,9,0]">Test {{x}}</p>
      <p ng-repeat="x in [1,2,3,4,5,6,7,8,9,0]">Test {{x}}</p>
      <p ng-repeat="x in [1,2,3,4,5,6,7,8,9,0]">Test {{x}}</p>
      <p ng-repeat="x in [1,2,3,4,5,6,7,8,9,0]">Test {{x}}</p>
      <p ng-repeat="x in [1,2,3,4,5,6,7,8,9,0]">Test {{x}}</p>
      <p ng-repeat="x in [1,2,3,4,5,6,7,8,9,0]">Test {{x}}</p>
      <p ng-repeat="x in [1,2,3,4,5,6,7,8,9,0]">Test {{x}}</p>-->
    </md-content>
  </div>
      
  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="app.js"></script>
</body>

</html>

